/**************************************************
* Sticky footer
**************************************************/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/**************************************************
* Materialize tweaks
**************************************************/

.container {
  /*width:90%;*/
}

.row {
  margin-bottom: 0px
}

.collection-item {
  padding-bottom: 40px !important;
}

/*label {
  margin: 17px 0px 0px 25px;
}

.remove-item {
  margin-top: 15px;
}*/
