/**************************************************
* Sticky footer
**************************************************/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/**************************************************
* Materialize tweaks
**************************************************/

.container {
  /*width:90%;*/
}

label {
  margin: 17px 0px 0px 25px;
}

.remove-item {
  margin-top: 15px;
}
