/**************************************************
* Sticky footer
**************************************************/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/**************************************************
* Materialize tweaks
**************************************************/

.container {
  /*width:90%;*/
}

.row {
  margin-bottom: 0px
}

.collection-item {
  padding-bottom: 50px !important;
}

/*Big Screens*/
@media only screen and (min-width: 500px) {
  label {
    margin: 17px 0px 0px 25px;
  }

  .add-item {
    /*margin-left: 60px;*/
  }

  .remove-item {
    margin-top: 15px;
  }
}

/*Small Screens*/
@media only screen and (max-width: 500px) {
  label {
    margin: 17px 0px 0px -5px;
  }

  .add-item {
    /*margin-left: 25px;*/
  }

  .remove-item {
    margin: 15px 10px 0px 0px;
  }
}
