<template name="sprint">

  <div class="container">
    <h5 class="center">{{#with sprints}}{{startDatePretty}} - {{endDatePretty}}{{/with}}</h5>

    {{#if hasLists}}
    <h6 class="center">{{ totalSprintCompletedItemCount }}/{{ totalSprintItemCount }} - {{totalSprintCompletePercentage}}% Complete</h6>
      <ul class="collection">
        {{#each lists}}
          {{> listItem}}
        {{/each}}
      </ul>
    {{else}}
      <br>
      <h1 class="center"><img src="images/no-resources.gif" style="width:80%"></h1>
      <h3 class="center">Woahhh... where is everyone?</h3>
      <p class="center">Be the first to add yourself to this week!</p>
    {{/if}}
  </div>

</template>

<template name="listItem">
  <li class="collection-item">
    <!-- <img src="images/yuna.jpg" alt="" class="circle"> -->
    <span class="resourceName" style="font-size: 1.64rem; line-height: 110%;">{{ resourceName }}</span>
    <a href="#confirmRemove-{{_id}}" id="remove-list-{{_id}}" class="waves-effect waves-light modal-trigger" style="margin-left:10px">REMOVE</a>
    {{#if totalItemCount}}
      <span class="secondary-content">{{completedItemCount}}/{{totalItemCount}}</span>
    {{else}}
      <span class="secondary-content hide-on-med-and-down">no items yet.</span>
    {{/if}}
    <br>
    <div id="confirmRemove-{{_id}}" class="modal">
      <div class="modal-content">
        <h4>Are you sure...</h4>
        <p>you want remove yourself from the sprint?</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect red btn" style="margin-left:20px;" data-action="removeListFromSprint">Yeahhhh, I'm sure.</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Party on!</a>
      </div>
    </div>
    {{#each items}}
      <div class="row">
        <div class="col s1">
          <input type="checkbox" id="check-{{_id}}" data-action="markComplete" {{itemStatus}}/>
          <label for="check-{{_id}}"></label>
        </div>
        <div class="col s10">
          <input placeholder="Fill in task" name="body" id="body-{{_id}}" type="text" class="validate" value="{{itemBody}}" data-action="updateItemBody">
        </div>
        <div class="col s1">
          <a href="#" id="close-{{_id}}" data-action="removeItem"><i class="material-icons small remove-item">close</i></a>
        </div>
      </div>
    {{/each}}
    <div class="row">
      <div class="col s1 offset-s1">
        <a class="btn-floating btn-small waves-effect waves-light green left add-item" data-action="addItem"><i class="material-icons left small">add</i>add</a>
      </div>
      <div class="col s11">
        <!-- placeholder -->
      </div>
    </div>
    <!-- <a class="waves-effect waves-light btn" data-action="addItem"><i class="material-icons left">add</i>add item</a> -->
  </li>
</template>
