<template name="header">

  <nav class="amber">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Week #</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">person_add</i></a>
        <ul class="side-nav" id="mobile-demo">
          {{#each resources}}
            <li><a href="#">{{ name }}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </nav>

</template>
